* {
  margin: 0;
  padding: 0;
}

.section-info {
  display: flex;
  width: 90%;
  margin: auto;
  margin-top: 4%;
  margin-bottom: 5%;
  justify-content: space-between;
}

h1 {
  margin-left: 4%;
  font-size: 50px;
}

section {
  display: grid;
  grid-template-columns: 60% auto;
  width: 90%;
  margin: auto;
}



nav {
  background-color: black;
}



.update-board {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50%;
  align-items: flex-start;
}

.update-board h2 {
  margin-top: 10%;
  margin-bottom: 6%;
}

.update-board input {
  margin: 3% 0;
}

.update-board button {
  align-self: flex-start;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
